{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">



    <h1>About</h1>

   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas finibus pellentesque commodo. Ut ut magna sapien. Ut mauris diam, posuere in ullamcorper vel, varius a dolor. Cras quis finibus lacus, et hendrerit orci. Quisque ut sapien justo. Phasellus convallis risus ante, non dignissim odio placerat eu. Curabitur molestie faucibus augue, quis sollicitudin arcu pulvinar vel. In dapibus pellentesque elit vel dictum. Aenean in mauris nisi. Aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus efficitur quam nec felis placerat, non dignissim nulla pulvinar. Aliquam erat volutpat. Curabitur magna augue, finibus eget luctus eget, ornare sed purus. Vestibulum at dignissim nisl, nec sodales odio. Mauris ullamcorper velit mauris, a tempor libero mattis id.

       Sed cursus nulla in urna lobortis, eu pharetra diam commodo. In pharetra eget nunc ut condimentum. Vestibulum non vestibulum massa. Curabitur venenatis tempus eros nec finibus. Aliquam aliquam nibh nunc, a elementum metus laoreet at. Maecenas id imperdiet enim, ut gravida lorem. Quisque vitae rutrum lorem. Etiam pulvinar nisi ac diam tempor, bibendum eleifend lectus bibendum. Morbi lacinia diam sed tortor accumsan aliquet a ac nunc. Ut sit amet sem nisi. Vivamus porttitor elit eu mi egestas elementum. Fusce gravida quam at mi mattis scelerisque. Mauris id risus id mauris accumsan viverra ut fermentum orci. Cras vitae ante vitae dui dictum sollicitudin. Quisque fermentum eleifend ligula.</p>

</div>
{% endblock %}
