{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}
{% block stylesheets %}
    <style>
        .center{ display :flex;
            flex-direction:column;
            text-align: center;
        }


    </style>
{% endblock %}
{% block body %}

<div class="center">
    <h1><b>Contact us</b></h1>

    {{ include('contact/_form.html.twig') }}

</div>
{% endblock %}
